<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>个人中心</title>
</head>

<body>
<p>
  <mat-toolbar color="primary">
    <span>个人中心</span>
    <span class="center-spacer"></span>
    <button mat-icon-button class="center-icon" [matMenuTriggerFor]="menu2">
      <mat-icon>exit_to_app</mat-icon>
      <mat-menu #menu2="matMenu">
        <button mat-menu-item (click)="logout()">登出</button>
      </mat-menu>
    </button>
  </mat-toolbar>
</p>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-nav-list>
      <a mat-list-item (click)="handleMenuSelection('学习时长')">学习时长</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item (click)="handleMenuSelection('学习分类')">学习分类</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item [matMenuTriggerFor]="menu">学习比较</a>
      <mat-menu #menu="matMenu">
        <mat-nav-list>
          <a mat-list-item (click)="handleMenuSelection('课程1')">课程1</a>
          <a mat-list-item (click)="handleMenuSelection('课程2')">课程2</a>
          <a mat-list-item (click)="handleMenuSelection('课程3')">课程3</a>
        </mat-nav-list>
      </mat-menu>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item (click)="handleMenuSelection('课程数量')">课程数量</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item (click)="handleMenuSelection('个人信息')">个人信息</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container">
      <div  id="chart" class="chart-container" [class.show-chart]="showChart"></div>
      <div id="account" class="content" [class.show-content]="showContent">
        <button *ngIf="showForm" class="revise-password" href="">修改密码（暂未开放）</button>
        <form *ngIf="showForm" class="revise-password">
<!--          <mat-form-field appearance="fill">
            <mat-label>请输入</mat-label>
            <input matInput >
            <mat-hint>原密码</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>请输入</mat-label>
            <input matInput placeholder="不少于6位">
            <mat-hint>新密码</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>请输入</mat-label>
            <input matInput >
            <mat-hint>再次输入新密码</mat-hint>
          </mat-form-field>-->
        </form>
      </div>
      <div id="profile" class="info" [class.show-content]="showContent">
        <!-- 个人信息的内容 -->
        <table *ngIf="showTable" class="personal-info-table">
          <tr>
            <th>姓名</th>
            <td>{{ personalInfo?.user_name }}</td>
          </tr>
          <tr>
            <th>角色</th>
            <td>{{ role }}</td>
          </tr>
          <tr>
            <th>上次登录时间</th>
            <td>{{ personalInfo?.last_login_time }}</td>
          </tr>
<!--          <tr>-->
<!--            <th>最喜欢的课程</th>-->
<!--            <td>{{ personalInfo?.class }}</td>-->
<!--          </tr>-->
          <tr>
            <th>学习时长/s</th>
            <td>{{ personalInfo?.total_duration }}</td>
          </tr>
          <tr>
            <th>发言总次数</th>
            <td>{{ personalInfo?.total_chat_times }}</td>
          </tr>
          <tr>
            <th>最近发言</th>
            <td>{{ personalInfo?.last_chat_message }}</td>
          </tr>
          <!-- 其他个人信息字段的行 -->
        </table>
      </div>
      <div *ngIf="showTable">
        <img [src] = "personalInfo?.avatar==''?defaultAvatar:personalInfo?.avatar" class="avatar"/>
      </div>
      <div *ngIf="showTable" class="change-button">
        <button mat-button color="primary" (click)="changePassword()">修改密码</button>
        <button mat-button color="primary" (click)="changePersonInfo()">修改个人信息</button>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
