.chart-container{
  position: absolute;
  width: 800px;
  height: 400px;
}

.container{
  width: 800px;
  height: 800px;
}

.content{
  width: 800px;
  height: 800px;
}

.nav-style{
  font-family: 华文行楷;
  font-weight: normal;
  font-size: 14px;
}

.center-spacer {
  height: 10%;
  flex: 1 1 auto;
}

.center-container {
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

mat-drawer {
  width: 200px;
}


