<p>
<mat-toolbar color="primary">
  <button mat-icon-button class="center-icon" >
    <mat-icon>menu</mat-icon>
  </button>
  <span>个人中心</span>
  <span class="center-spacer"></span>
  <button mat-icon-button class="center-icon favorite-icon" >
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="center-icon" >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
</p>


<div id="line" style=" width: 800px;height:400px;color: blue;"></div>
<div id="pie" style=" width: 800px;height:400px;color: blue;"></div>
<div id="radar" style=" width: 800px;height:400px;color: blue;"></div>
<div id="bar" style=" width: 800px;height:400px;color: blue;"></div>
<!--<mat-sidenav-container class="center-container" *ngIf="shouldRun">
<mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
<mat-sidenav-content>1</mat-sidenav-content>
<mat-sidenav-content>2</mat-sidenav-content>
<mat-sidenav-content>3</mat-sidenav-content>
<mat-sidenav-content>4</mat-sidenav-content>
</mat-sidenav-container>-->

<!--<button onclick="click1()" click></button>-->





<!--
<app-personal-center></app-personal-center>
<div class="d-flex container1">
<div class="al-left">
  <app-personal-center></app-personal-center>
</div>
<div class="al-right">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
</div>
-->
