<h2 mat-dialog-title>修改密码</h2>
<mat-dialog-content>
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width" appearance="fill">
      <input matInput placeholder="旧密码" formControlName="oldPassword">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <input matInput placeholder="新密码" formControlName="newPassword">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <input matInput placeholder="确认密码" formControlName="confirmPassword">
    </mat-form-field>
    <div mat-dialog-actions class="change-password-button">
      <button mat-raised-button mat-dialog-close>取消</button>
      <button mat-raised-button color="primary" type="submit" cdkFocusInitial>提交</button>
    </div>
  </form>
</mat-dialog-content>
