<mat-toolbar color="primary" class="toolbar">
  <span>在线教育平台</span>
  <span>按键"W"可以走动,鼠标控制方向,按键"C"进入教室</span>
    <button mat-icon-button matTooltip="个人中心" (click)="navigateToPersonalCenter()">
      <mat-icon>personal</mat-icon>
    </button>
</mat-toolbar>

<div class="chat">
  <div class="chat-body">
    <img src="assets/pic/confused.gif"/>
    <div id="console" class="well"></div>
  </div>

  <form class="well form-inline" (ngSubmit)="onSubmit()">
    <input id="msg" class="input-xlarge" type="text" placeholder="Type something..." [(ngModel)]="message" name="message" />
    <button type="submit" class="btn" id="send">Send</button>
  </form>
</div>

<div id="platform"></div>

