<mat-toolbar color="primary" class="toolbar">
  <span>在线教育平台</span>
  <span>按键"W"可以走动,鼠标控制方向,按键"C"进入教室</span>
    <button mat-icon-button matTooltip="聊天室" (click)="ifShowChat()">
      <mat-icon>question_answer</mat-icon>
    </button>
    <input id="demo" type="file" (change)="view()"/>
    <button mat-icon-button matTooltip="个人中心" (click)="navigateToPersonalCenter()">
      <mat-icon>personal</mat-icon>
    </button>
</mat-toolbar>

<div [@openClose]="isShowChat ? 'open' : 'closed'" class="chat" id="chat" >
  <h3 style="color: brown; text-align: center;">欢迎进入聊天室</h3>
  <div style="margin: 5%;display: flex;">
    <div class="chat-body">
      <div *ngFor="let message of messages; let i = index" style="width: 90%">
        <div *ngIf="message.type === 'notification'">
          <div class="chat-body-system">
            <span>{{message.content}}</span>
          </div>
        </div>
        <div *ngIf="message.type === 'text'">
          <mat-card class="card">
            <mat-card-content>{{message.content}}</mat-card-content>
            <mat-card-footer style="display: flex;width: 100%;justify-content: space-around;">
              <mat-card-subtitle>{{message.time}}</mat-card-subtitle>
              <mat-card-subtitle>{{message.username}}</mat-card-subtitle>
            </mat-card-footer>
          </mat-card>
        </div>
        <div *ngIf="message.type === 'image'">
          <mat-card class="card">
            <mat-card-content>
              <img [src]="message.content" [id]="i" style="width: 100%;height: 100%;"/>
            </mat-card-content>
            <mat-card-footer style="display: flex;width: 100%;justify-content: space-around;">
              <mat-card-subtitle>{{message.time}}</mat-card-subtitle>
              <mat-card-subtitle>{{message.username}}</mat-card-subtitle>
            </mat-card-footer>
          </mat-card>
        </div>
      </div>
    </div>
  
    <form (ngSubmit)="onSubmit()" style="display: flex;justify-content: space-around;width: 90%;">
      <input id="msg" class="input-xlarge" type="text" placeholder="请输入内容:" [(ngModel)]="message" name="message" />
      <!-- <button type="submit" class="btn" id="send">发送</button> -->
      <button mat-raised-button color="primary" type="submit" id="send">发送</button>
    </form>
    <!-- <button mat-raised-button color="primary">开启语音</button> -->
  </div>
</div>

<div class="classroom-dialog" id="classroom-dialog">
  <div class="classroom-dialog-title">
    <span id="teach_building">第一教学楼</span>
  </div>
  <div class="classroom-dialog-user">
    <span id="teach_role">您的身份是:{{role==='student'?'学生,可以进入如下课程':'老师,可以加入或创建课程'}}</span>
  </div>
  <div class="classroom-dialog-content">
    <mat-tab-group *ngIf="role === 'teacher'">
      <mat-tab label="加入课程">
        <mat-card class="card" *ngFor="let course of showCourseList;let i = index" (click)="enterClass(i)">
          <mat-card-header>
            <mat-card-title>{{course.courseName}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>描述: {{course.courseDescription}}</p>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="创建课程">
        <div [formGroup]="createCourseForm">
            <mat-form-field appearance="fill" class="mat-form-field">
              <mat-label>课程名称</mat-label>
              <input matInput [(ngModel)]="createCourseTitle" name="createCourseTitle" required [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field appearance="fill" class="mat-form-field">
              <mat-label>课程描述</mat-label>
              <!-- 绑定到ts的createCourseDescription变量 -->
              <input matInput [(ngModel)]="createCourseDescription" name="createCourseDescription" required [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          <button mat-raised-button color="primary" type="submit" style="display: flex;margin: auto;" (click)="onCreateCourseSubmit()">提交</button>
        </div>
      </mat-tab>
    </mat-tab-group>

    <div class="course-list" *ngIf="role === 'student'">
      <mat-card class="card" *ngFor="let course of showCourseList;let i = index" (click)="enterClass(i)">
        <mat-card-header>
          <mat-card-title>{{course.courseName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>描述: {{course.courseDescription}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div id="platform">
  
</div>

