<mat-toolbar color="primary" class="toolbar">
  <span>在线教育平台</span>
  <span>按键"W"可以走动,鼠标控制方向,按键"C"进入教室</span>
  <button mat-icon-button matTooltip="聊天室" (click)="ifShowChat()">
    <mat-icon>question_answer</mat-icon>
  </button>
  <input id="demo" type="file" (change)="view()"/>
</mat-toolbar>

<div [@openClose]="isShowChat ? 'open' : 'closed'" class="chat" id="chat" >
  <h3 style="color: brown; text-align: center;">欢迎进入聊天室</h3>
  <div style="margin: 5%;display: flex;">
    <div class="chat-body">
      <div *ngFor="let message of messages; let i = index" style="width: 90%">
        <div *ngIf="message.type === 'notification'">
          <div class="chat-body-system">
            <span>{{message.content}}</span>
          </div>
        </div>
        <div *ngIf="message.type === 'text'">
          <mat-card class="card">
            <mat-card-content>{{message.content}}</mat-card-content>
            <mat-card-footer style="display: flex;width: 100%;justify-content: space-around;">
              <mat-card-subtitle>{{message.time}}</mat-card-subtitle>
              <mat-card-subtitle>{{message.username}}</mat-card-subtitle>
            </mat-card-footer>
          </mat-card>
        </div>
        <div *ngIf="message.type === 'image'">
          <mat-card class="card">
            <mat-card-content>
              <img [src]="message.content" [id]="i" style="width: 100%;height: 100%;"/>
            </mat-card-content>
            <mat-card-footer style="display: flex;width: 100%;justify-content: space-around;">
              <mat-card-subtitle>{{message.time}}</mat-card-subtitle>
              <mat-card-subtitle>{{message.username}}</mat-card-subtitle>
            </mat-card-footer>
          </mat-card>
        </div>
      </div>
    </div>

    <form (ngSubmit)="onSubmit()" style="display: flex;justify-content: space-around;width: 90%;">
      <input id="msg" class="input-xlarge" type="text" placeholder="请输入内容:" [(ngModel)]="message" name="message" />
      <!-- <button type="submit" class="btn" id="send">发送</button> -->
      <button mat-raised-button color="primary" type="submit" id="send">发送</button>
    </form>
    <!-- <button mat-raised-button color="primary">开启语音</button> -->
  </div>
</div>

<div id="platform">

</div>
